[2020-03-26 11:53] ZhengHe-MD opened #2 "syntax highlight"
I don't known how to configure syntax highlighting in compose theme, could you help me?

[2020-03-26 17:30] onweru commented on #2
@ZhengHe-MD, can I see you repo? You could also view [these lines](https://github.com/onweru/compose-userguide/blob/a2c23a26d07a25c0b6bceaff19ea2482eea7bdc8/config.toml#L19-L28https://github.com/onweru/compose-userguide/blob/a2c23a26d07a25c0b6bceaff19ea2482eea7bdc8/config.toml#L19-L28) from [the guide](https://github.com/onweru/compose-userguide)

[2020-03-27 03:22] ZhengHe-MD commented on #2
I have tried that, with different syntax highlighting schemes, but nothing happened. The repo has been deleted and it is supposed to be hosted in our private gitlab registry. If it did work, you can just add an code block with syntax highlighting to your example site, that would be more helpful.

[2020-03-27 11:29] onweru commented on #2
my gitlab handle is **weru**, if you may I could have a look. This page https://github.com/onweru/compose-userguide/blob/master/content/docs/getting%20started/shortcodes-example.md from the guide has code blocks.

[2020-03-27 14:23] ZhengHe-MD commented on #2
right, but the code block doesn't show any highlighting scheme here https://compose-docs.netlify.com/docs/getting-started/shortcodes-example/ , its all plain words, no colors.

[2020-03-27 15:23] onweru commented on #2
Aha, makes sense now. pushing a fix in a few

[2020-03-27 15:24] onweru commented on #2
@ZhengHe-MD, let me know if it's fixed now. Thanks.

[2020-03-28 00:40] ZhengHe-MD commented on #2
@onweru  thx, that commit magically fixes this problem. Close the issue.

[2020-03-28 00:40] #2 closed

[2020-05-08 09:06] nodablock opened #5 "[UX] "Left sidebar" not scrollable before the content hit bottom"
Hi!

I'm facing an issue when I have a lot of elements in the left sidebar.
When scrolling down, the "right part", where there is the content is, needs to be totally at the bottom before the left menu is scrollable .

Here how it looks like:
![Screen Recording 2020-05-08 at 05 05 PM](https://user-images.githubusercontent.com/42296773/81390503-273ce400-914e-11ea-8859-a16198205ef4.gif)

I believe a

[2020-05-08 09:29] nodablock opened #6 "[UX] Approximate scroll when we click on sidebar menu title"
When we click on an element of the left side menu , the scroll brings it (approximately) to the content, sometimes at the wrong section.

For example, [that link](https://compose-docs.netlify.app/docs/getting-started/shortcodes/#video
) should bring to the video section, but it bring it to the middle of the content:

![Screen Recording 2020-05-08 at 05 31 PM](https://user-images.githubusercontent.

[2020-05-08 09:48] onweru commented on #5
@nodablock,

Thanks for contributing. I will have a look later on and come up with possible remedies.

[2020-05-08 10:36] nodablock opened #7 "[UX] On mobile, hide the header when scrolling down"
This is mostly a feature request.

I believe the "top menu bar" does not need to be visible when you start scrolling the content it is taking a good amount of space, especially on small devices.

[2020-05-12 15:09] onweru commented on #5
@nodablock,

I have a request, would you mind me taking a look at your code. You know, to have a closer look (play around with it) ... while I go about fixing this.

Thanks.

[2020-05-12 15:11] onweru commented on #6
👍

[2020-05-12 15:14] onweru commented on #7
@nodablock
For this to work, we would need a back to top icon or a sticky hamburger. What do you think?

[2020-05-14 06:14] gareththered opened #8 "Top of main is hidden behind header when tall logo is used"
The default logo is approx 160x35 and the page layout works.  However, if a taller logo is used (160x70) the first line of text (approx h1's worth) becomes hidden behind the now taller header.  This seems to be the case on MS Edge and on Firefox.  I've not tested on others.

I believe a taller header should push the main body down - not overlap it.

[2020-05-14 18:56] onweru commented on #8
@gareththered,

I will fix this.

[2020-05-19 16:52] onweru commented on #8
@gareththered, this is fixed now.

[2020-05-28 02:49] nodablock commented on #5
@onweru sure! my page where the bug happen looks like that:

[code]

[2020-05-28 04:02] onweru commented on #5
Thank you

[2020-05-28 04:32] nodablock commented on #6
Figured out that temp solution with jquery ( I think we can do without, but as a workaround is worked for me ) . It also solves #7

_nav.sass:
[code]

head.html
[code]

index.js:
[code]

[2020-05-28 04:34] nodablock commented on #7
@onweru an easy solution would be to make it appear when we scroll up.
I've posted how I did it in  https://github.com/onweru/compose/issues/6#issuecomment-635093176

[2020-05-28 06:06] onedrawingperday opened #10 "Internal sidebar links should open in the same window"
Hello @onweru

In the latest update I noticed that [sidebars links](https://themes.gohugo.io/theme/compose/docs/) open in new tabs. However this is not good from a UX standpoint.

Please remove the attribute `target="_blank"` from internal links.

[2020-05-28 06:27] onweru commented on #10
@onedrawingperday,

Thank you for raising this one. I will update it and notify you

[2020-05-28 21:24] onweru commented on #10
@onedrawingperday,

The problem is that "https://themes.gohugo.io/theme/" wasn't being recognized as the baseURL by [this snippet of javascript code](https://github.com/onweru/compose/blob/47b40fe41e5f58d736892188debf0637633eb6d6/assets/js/index.js#L266-L276) (`parentURL is equal to whatever the baseURL is`). Hence the `target=_blank` attribute was being added.

I'm not sure if the commit I just r

[2020-05-29 05:29] onedrawingperday commented on #10
@onweru

I don’t think that using JS is necessary for this since in a Hugo template you can perform a check and conditionally add the `target="_blank"` attribute.

For example within the context of a Hugo menu try something like:

[code]

[2020-05-29 06:50] onweru commented on #10
@onedrawingperday

You make a good point. I used js as a _one-solution-fits-all_. This way too, links inside markdown content files are attributed correctly.

I could limit the scope of the js script to the element housing `{{ .Content }}`. But then I would need to add this beautiful Hugo conditional `{{ if strings.HasPrefix .URL "http" }}` in at least one other place.

I'm curious if this 👇 was t

[2020-05-29 08:19] #5 closed

[2020-05-29 09:05] onedrawingperday commented on #10
No the issue is not fixed with your latest commit @onweru

I updated your theme on the Hugo Themes website -just now- and the links still open in a new tab.

see: https://themes.gohugo.io/theme/compose/docs/

[2020-05-30 18:50] onedrawingperday commented on #10
@onweru

I confirm that your recent commits have fixed this issue.

The theme was updated in https://github.com/gohugoio/hugoThemes/commit/abfc371b865ccff1bc201bde7710efdd96c10ffb and the changes will be published once the Hugo Themes deploy concludes.

Thanks.

[2020-05-30 18:50] #10 closed

[2020-05-30 18:52] onweru commented on #10
@onedrawingperday

Thanks a lot for your support

[2020-07-13 10:04] mk0 opened #13 "Fix layout for anchor links"
In order to display the page correctly, when visiting an anchor link, negative margin including a positiv padding must be added to the stylesheet for the `link_owner` class in order to skip the header of the page.

Example:
[code]
This example will add a distance delta of 10px above the heading element. This will have an impact on the distance of the heading element to the header element when visi

[2020-07-13 15:28] mk0 opened #14 "Site does not work, because of existing quotes in text."
The current example site does not work, as there is content including quotes. (`"`)

I was able to fix this by adjusting `search.js`:

[code]

[2020-07-22 18:49] chipzoller opened #15 "Search function improvements"
This issue will serve as a general post for aggregation of all fixes and suggested improvements to the search function within the Compose theme. It will be updated over time.

### **Fixes**

1. After entering and then removing search terms from the search box, the results drop-down does not clear which obstructs the page and can only be removed by either refreshing or navigating away.

### **Impro

[2020-07-22 22:29] chipzoller opened #16 "Gradiant zone renders page links un-clickable"
In a page with a long list of page links (ex., /docs/getting-started/dummy-content/), any links that appear in the gradiant zone towards the bottom are not clickable, however those above it are. This would likely vary depending on the resolution of the user's browser.

![image](https://user-images.githubusercontent.com/29008123/88235609-37db0180-cc49-11ea-9673-888f3c30b10f.png)

[2020-07-24 05:19] onweru commented on #13
@mk0, thanks for contributing, I will have a look at this and #14

[2020-09-11 00:14] #16 closed

[2020-09-11 01:21] #14 closed

[2020-09-18 06:04] gitsang opened #18 "Subtitle can not highlight when using non-letter prefix"
[nohi](https://postimg.cc/FYW64L8k)

[2020-09-18 06:04] gitsang commented on #18
![nohi](https://postimg.cc/FYW64L8k)

[2020-09-18 21:11] #18 closed

[2020-10-24 11:45] hongtaoh opened #20 "How to change font size?"
First of all, thank you so much @onweru for creating this amazing theme! I am wondering whether it's possible to change the font-size and family. My original thought is that it should be relatively easy, so I tried to edit `font-size` within `body` of [`assets/sass/_base.sass`](https://github.com/onweru/compose/blob/master/assets/sass/_base.sass). However, the font and font-size do not change. May

[2020-10-28 15:00] onweru commented on #20
Thanks for the feedback @hongtaoh, if you installed the theme as a Hugo module, you have to update the remote

[2020-11-02 14:06] hongtaoh commented on #20
Dear @onweru, thank you so much for the reply and the help! I really appreciate your contribution and the offer to hep!

[2020-11-02 21:28] #20 closed

[2020-11-15 19:42] orangemn6 opened #21 "How to change logo?"
I cant figure out how/where to change the logo

[2020-11-16 10:28] onweru commented on #21
@orangemn6, my apologies this should be documented. Change this https://github.com/onweru/compose/blob/5ea61583898e56081eec796e3990c80c0f1cbfb1/exampleSite/config.toml#L54-L56 to change the logo.

[2020-11-16 17:40] orangemn6 commented on #21
Thank you!

[2020-11-16 17:40] #21 closed

[2020-11-24 02:46] chipzoller opened #22 "Broken links in README"
Several broken links in the README. I'm too lazy right now to fix them all. Forestry, Clarity theme, MIT license, maybe one more.

[2020-11-26 16:25] rjfranssen opened #23 "Disappearing Nav Items in Mobile View - Where did they go?"
When narrowing the [demo page](https://themes.gohugo.io//theme/compose/) or viewing it on a Mobile device, the nav items appear to collapse under a single "Menu" item, though the individual nav items (e.g. Docs, Example, GitHub) are inaccessible.

I tried toying with `nav.html` and `_nav.css`, but I'm swinging a hammer blindly.

In any case, I love the theme, asante sana

#### Narrow/Mobile (colla

[2020-11-26 16:35] onweru commented on #23
@rjfranssen, I'm aware of this ... I will find the time and ensure that the nav works on mobile.

[2020-11-27 13:37] #23 closed

[2020-12-01 14:14] danielfbm opened #24 "Blog feature in exampleSite is not working"
AFAIK this theme has some roots on [clarity](https://github.com/chipzoller/hugo-clarity) and some content is copied to the exampleSite for reference, but the blogging feature as described does not work

Looking through the partials of this theme I noticed that all the archive/blog post lists related features were removed. Is there any chance to add it back? if not please remove the related mislead

[2020-12-02 01:54] danielfbm commented on #24
I see, thank you so much for clarifying. For my use case, I would love to have a mixture of both themes. I can also see this working as a one-stop solution for documentation and blogging within one codebase.

[2020-12-02 07:16] onweru commented on #24
Eventually yes. I will keep this issue open

[2020-12-03 21:01] #22 closed

[2020-12-06 20:40] #7 closed

[2020-12-13 11:34] moldhouse opened #26 "Top level folder does not have a table of contents"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

A clear and concise description of what the bug is. [REPLACE]

If I add a top level directory besides the 'docs' section, it does not have a table of contents. Especially I do not want

[2020-12-13 18:21] onweru commented on #26
Yes, the top level directory is supposed to contain the home page, regular pages e.g (contact page, about, ...) ... or if someone wants to add another section, say like a blog / news. The docs are to be placed inside the docs dir. I'm not sure that I have made the docs directory configurable. Thanks for the hint

[2021-01-27 14:16] bb1950328 opened #31 "Theme color customizable in config.toml"
I want to configure the `--theme` variable in `_variables.sass`.
The problem is that the sass file isn't evaluated by hugo so it's not that easy for me with my current knowledge of hugo to do it by myself.
If somebody can point me in the right direction I can do it by myself.
I would be glad if this gets implemented soon because currently I have a second git branch just to change the color.

Thank

[2021-01-27 15:33] onweru commented on #31
@bb1950328 are you running compose theme as a hugo module?

[2021-01-27 15:38] bb1950328 commented on #31
Currently it's a git submodule.

[2021-01-27 15:42] onweru commented on #31
Is this submodule pointing to this repo or a fork of this repo?

[2021-01-27 20:29] bb1950328 commented on #31
It's pointing to my fork:
[code]
I have a branch named "customize" where I changed the `--theme` variable to blue. I develop new features on "master" and merge it into "customize" after I committed them. If I can save the color in the web repo ([BrickSimWeb](https://www.github.com/bb1950328/BrickSimWeb) in my case) I wouldn't need to do that merge every time and other users can customize the theme

[2021-01-27 21:35] onweru commented on #31
Try:

1.  Create a `assets/sass/_variables.sass` file [on your repo](https://github.com/bb1950328/BrickSimWeb).
2.  Copy the contents of https://github.com/bb1950328/compose/blob/master/assets/sass/_variables.sass and paste into (1) above
3. Edit the `--theme` variable after completing the copy-paste.

That file should act as a git trackable override. Please notice that the naming and nesting of t

[2021-01-28 15:31] bb1950328 commented on #31
It's working! Thank you very much.

[2021-01-28 15:31] #31 closed

[2021-01-30 12:50] #26 closed

[2021-02-03 13:57] rakshazi opened #36 "Mobile menu (sidebar) broken in Firefox Mobile (codename Fenix)"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

Mobile sidebar menu is broken on Firefox mobile

**Phone:**
 - OS: Android 10
 - Browser: Firefox 85.1

**Screenshoots**
![firefox-bug-portrait](https://user-image

[2021-02-04 16:15] onweru commented on #36
@rakshazi, any improvements?

[2021-02-04 17:04] rakshazi commented on #36
I will test it tomorrow, thank you!

[2021-02-06 16:16] foxisawesome opened #37 "config: noClasses option issue"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**
While changing noClasses=true in config.toml file. the site cannot be change to light mode. It stuck at dark mode.

**Desktop (please complete the following informa

[2021-02-08 15:33] rakshazi commented on #36
Sorry for delay,
It works, thank you!

[2021-02-08 15:33] #36 closed

[2021-02-08 16:56] onweru commented on #37
Umh, is [this the line](https://github.com/onweru/compose/blob/19c5ace7ad501e2b157150e17de4c55e45b35276/exampleSite/config.toml#L55) you're trying to edit?

[2021-02-08 17:07] foxisawesome commented on #37
Actually, I am trying to change line 39: noClasses = true in the file: exampleSite\config.toml. everything else untouched. Then I compiled the site. Went to chrome, found the the dark mode switch would NOT work for pages having python code highlighting blocks. Pages not having hightlight blocks can switch between dark mode and light mode.

[2021-02-08 20:38] onweru commented on #37
Oh, I see ... changing that will indeed break the theme. I will see if that's something I can accommodate going forward.

[2021-02-18 22:44] laundmo opened #38 "[Feature] Allow custom CSS"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

Currently, this theme does not support customCSS like clarity. This is a request to add that feature to this theme too.
[reference implementation in clarity](https

[2021-02-26 17:21] juneleung opened #39 "Wrong Layout on windows"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [o] Read the README.md
- [o] Have the extended version of Hugo installed
- [o] Used the example site's config .toml as a reference

after guide with the readme doc, run the code
[code]
then I open the http://127.0.0.1:1313/ page which shows the wrong layout, seems not to load the CSS corectlly. I try to make it on

[2021-03-12 15:08] onweru commented on #39
@juneleung, did you succeed?

[2021-03-12 15:36] onweru commented on #38
@laundmo, fixed and [documented here](https://docs.neuralvibes.com/docs/compose/customize/#how-do-i-add-custom-styles-scripts-meta-tags-etc)

[2021-03-12 15:36] #38 closed

[2021-03-12 15:50] #6 closed

[2021-03-12 15:51] #13 closed

[2021-03-12 16:22] laundmo commented on #38
@onweru  nice, thanks!

[2021-03-15 05:31] juneleung commented on #39
not yet, still can't load the CSS successfully. :(

[2021-03-15 10:12] onweru commented on #39
1. Do you have [Hugo extended installed](https://gohugo.io/getting-started/installing/#chocolatey-windows) in your path?
2. If you have (1) above covered, have you [installed go](https://golang.org/doc/install)?

[2021-03-16 01:24] juneleung commented on #39
Yeah, after I checked I had installed the Hugo-ext and go, I get the white bg of the web as attach, seems cant load the image successfully, How to solve the problem, Thanks!!!

![123](https://user-images.githubusercontent.com/32699460/111241945-2069e200-8639-11eb-8930-ed8c4e82bd86.png)

[2021-03-16 02:34] onweru commented on #39
Ensure you read the docs. If you did, you must have seen:

1. https://docs.neuralvibes.com/docs/compose/install-theme/#option-3-great-for-testing-quickly
2. https://docs.neuralvibes.com/docs/compose/organize-content/

Beyond that, check the `config.toml` and ensure all you image paths are correct and that you have the logos in the right directory https://gohugo.io/getting-started/directory-structu

[2021-03-16 02:34] #39 closed

[2021-03-16 15:29] arcandio opened #42 "Navigating to heading anchors doesn't work"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

Navigating to heading anchors doesn't work.

**Repro**

- Navigate to the documentation/example site: https://docs.neuralvibes.com/docs/compose
- Click on any anch

[2021-03-16 15:58] onweru commented on #42
I can confirm that this behavior is happening in chromium-based browser e.g brave, chrome.

[2021-03-16 22:19] Techno-Disaster opened #43 "Link in table"
Is there any way I can have a clickable link like [this](https://example.com), inside a table value?

[2021-03-16 22:32] #43 closed

[2021-03-17 15:20] arcandio commented on #42
I just noticed in one of my drafts that it *did* actually work, but I think only for anchors *in the current page.*

[2021-03-17 18:32] onweru commented on #42
Thanks for let me know, I will dig around

[2021-03-21 19:29] hupfdule commented on #37
The same is true for code blocks with an invalid language specified.

For example the following code block breaks the dark mode (for that page):

[code]

If the term `invalid` is removed the dark mode works again.

[2021-03-21 20:27] hupfdule opened #45 "The index of a page should automatically get a button link to the first subpage"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

Compose already creates buttons by default to the next and previous page:

![link1](https://user-images.githubusercontent.com/36069345/111919803-178b6d00-8a8c-11eb

[2021-03-22 14:20] onweru commented on #45
@hupfdule,

Please submit a PR, I will consider it.

[2021-03-22 15:03] hupfdule commented on #45
No. :-)

This is a request for enhancement (feature wish).
I am not able to do this. Therefore I will not even try.

[2021-03-24 10:11] Skelmis opened #48 "Spelling mistake on 404"
**Describe the bug**

When experiencing a 404, the site will send the relevant page however it contains the following
- `Yback home`
I think it should just be
- `back home`

If this *is* the intended spelling / use-case please advise or close this :)

Source for issue can be found [here](https://github.com/onweru/compose/blob/ba7520dfcd8bd5a2aeb2012739428ecdd74018ec/layouts/404.html#L4)

[2021-03-24 11:55] onweru commented on #48
Thank you @Skelmis

[2021-03-24 11:55] #48 closed

[2021-03-29 19:11] PetrosPapapa opened #49 "Favicons are assumed to be in root"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

If you set a `baseURL` in a subdirectory of a website/domain (e.g. http://www.example.com/somedirectory), favicons are not loaded properly. This is due to the lead

[2021-03-29 20:39] onweru commented on #49
@PetrosPapapa, thank you.

[2021-03-29 20:50] #49 closed

[2021-04-15 19:18] chipzoller commented on #15
Some types of searches with special characters cannot be executed. For example, searching for `->>` which is found on [this ](https://docs.neuralvibes.com/docs/compose/mermaid/)page.

[2021-04-15 19:32] chipzoller commented on #15
Idea: Since the search bar is always at the top, either implement a "jump-to-top" button like in Clarity, or a way for users to instantly access search if they wish.

[2021-04-26 18:02] bb1950328 commented on #15
Idea: After the list of suggestions shows up, allow the user to select an entry with Arrow Up/Down keys and press enter to go to that page

[2021-05-21 08:48] alecthomas opened #53 "Icons are assumed to be in root"
Similar to #49, the icons for code blocks are assumed to be in the root and when using an alternate `baseURL` they do not work but also seem to corrupt most of the page. Chrome console:

![image](https://user-images.githubusercontent.com/41767/119109899-f253b480-ba64-11eb-877a-6e57230df216.png)

[2021-05-21 08:52] alecthomas commented on #53
I believe the same is also true for the search index `/index.json`.

[2021-06-01 20:51] brendan-mccoy opened #54 "Weird Mermaid requirement for rendering"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

When I try to use mermaid, it only works if the string "mermaid" is in the document outside of tags.

[code]
The above works.

[code]
The above doesn't work, and j

[2021-06-01 21:38] onweru commented on #54
@brendan-mccoy, thank you for bringing this to my attention. I will look into it within the next day.

[2021-06-02 16:51] onweru commented on #54
@brendan-mccoy, this should work correctly now.

[2021-06-23 16:58] safaci2000 commented on #53
I also ran into the same issue.

themes/compose/assets/js/variables.js:const rootURL = window.location.protocol + "//" + window.location.host;

That line is what's used instead of pulling the value from Hugo's settings.  It screws everything up when you have a relative path.  You can probably just hard code that line to be:

rootURL = window.location.protocol + "//" + window.location.host + "/rela

[2021-06-25 21:01] safaci2000 commented on #53
I can confirm that changing the rootURL provides a fix, though as I said, probably should find a better way of fixing it.

[2021-07-27 09:48] dylanyht opened #55 "Multi-level menu"
Is it possible to create multi-level menus with this theme? If so, how do I need to create it?

[2021-07-27 20:53] onweru commented on #55
@dylanyht, that feature is not yet available on this theme.

[2021-10-05 13:23] vpakg commented on #54
I'm having the same issue. Mermaid won't render unless I add "mermaid" somewhere in the text. Was it fixed?

[2021-10-05 16:48] onweru commented on #54
@vpakg, are you using the mermaid shortcode?

[2021-10-05 16:58] vpakg commented on #54
Hi @onweru, thanks for getting back to me. Here is what my Markdown looks like:

[code]

this won't render, but if I add the word `mermaid` anywhere else in the file, it renders properly.

[2021-11-24 00:44] chipzoller opened #56 "User guide is broken link"
In https://github.com/onweru/compose#examplesite the user guide link is broken. Hope you're well :)

[2021-11-24 12:09] onweru commented on #56
Thanks @chipzoller. Fixing it right away. I'm doing well my friend, hope you're too.

[2021-11-24 12:26] chipzoller commented on #56
Fixed by Weru!

[2021-11-24 12:26] #56 closed

[2021-11-24 23:29] chipzoller opened #57 "[Bug] Fenced code blocks without language render differently"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

When fenced code blocks are used without a language, they display (and cause the tool palette buttons to be displayed) differently which causes some collisions.

<

[2021-11-24 23:55] chipzoller opened #58 "Navigation buttons need some tweaking"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

The navigation buttons at the bottom are nice, but they need a bit of tweaking. For example. the Search page should not be navigable. Second, when there are multip

[2021-11-24 23:58] chipzoller opened #59 "[Feature] Distinguish between Markdown headings"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the feature request**

The left-side nav bar is very nice, but the only down side is it flattens all markdown headings to appear as though they're on the same "level". This m

[2021-11-25 01:56] chipzoller opened #60 "[Feature] Collapsable left-hand navigation bar"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the feature**

The nav bar on the left-hand side is nice, but for some page content (like tables) you could really use the extra screen width. It'd be helpful if users could

[2021-11-25 01:59] chipzoller commented on #15
That back-to-top button is pretty slick, @onweru so nice job.

[2021-11-25 02:27] chipzoller opened #61 "[Bug] Page content breaks toggle mode"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**
On [this page](https://stupefied-banach-586e67.netlify.app/docs/usage/kind/), you can toggle the light/dark mode and navigate around with that mode staying in effec

[2021-11-25 02:29] chipzoller commented on #59
Guessing this is related to #55

[2021-11-25 03:25] chipzoller opened #62 "[Bug] Table formatting on mobile"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

Tables on mobile are not displaying correctly depending on columns. If not compressed, the page cannot be scrolled horizontally.

![Screenshot_20211124-222138.png]

[2021-11-25 03:29] chipzoller opened #63 "[Bug] Anchor links remain copied"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

Very minor, but when clicking anchor links on page headings at any level, the site shows "Link Copied" for everyone clicked. Correct behavior should be this is eit

[2021-11-25 12:32] chipzoller commented on #56
Another broken link to "shortcodes" in https://docs.neuralvibes.com/docs/compose/organize-content/

[2021-11-25 17:28] chipzoller opened #64 "[Feature] Support documentation versions"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the feature**

Especially for software projects, companies/communities often need to maintain documentation for separate versions especially as documentation is now fairly st

[2021-11-27 15:05] chipzoller opened #65 "[Feature] Favicon path move to /static/images"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

All branding assets for this theme related to images need to be stored together without having some components coming from the theme while others come from site di

[2021-11-28 23:28] chipzoller commented on #61
I tracked down the cause and it was due to there being a Markdown heading (third level in this case) which was hyperlinked.

[code]

Removing this hyperlink solved the problem. Compose needs to be able to deal with these and allow them if present.

[2021-11-29 00:29] chipzoller opened #66 "[Feature] Wide(r) screen support"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the feature**

It be really nice if this theme would either by default or through some configuration parameter be able to consume more screen width which is fairly standard w

[2021-11-30 23:26] chipzoller opened #67 "[Feature] Relative weighing of pages"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the feature**

In the Compose theme today, pages are globally weighed to determine ordering in the left-hand navigation pane. This approach makes it quite difficult when addi

[2021-12-14 14:09] onweru commented on #65
@chipzoller, this is the desired behaviour. You can override favicons from the site directory. This way, the theme isn't dependent on the theme to function.

[2021-12-14 14:13] onweru commented on #62
Interesting bug. The table is actually scrollable on tap, but not before the tap.

[2021-12-14 14:15] chipzoller commented on #65
Can you provide some instruction on this in your docs, or is this a generic Hugo topic? Even if so, it may be kind of you to point users there.

[2021-12-14 15:00] onweru commented on #37
@hupfdule, I couldn't reproduce the darkmode breaking when I copied this

[2021-12-14 15:00] #37 closed

[2021-12-14 15:01] #66 closed

[2021-12-14 18:12] chipzoller commented on #57
Don't see a visual change based on the fix.

[2021-12-15 08:12] onweru commented on #57
I will check again.

[2021-12-20 14:47] chipzoller commented on #57
Confirmed fixed. I didn't update the Hugo module.

[2021-12-20 14:47] #57 closed

[2021-12-20 15:46] chipzoller commented on #58
Note sure if number one is covered by https://github.com/onweru/compose/commit/321a7bd79a67c0b3f4a70d1fc1e7b10607a91976

[2021-12-20 18:16] onweru commented on #58
It's covered, you're right.

[2021-12-20 19:12] chipzoller commented on #60
An example where this would allow for a table to have a better viewing experience on desktop: https://kube-vip.chipzoller.dev/docs/installation/flags/

[2022-01-03 11:05] erzz opened #69 "[BUG] Hosting from Subdirectory Breaks many things including layouts, 404's for SVG's & index.json"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

Locally running `hugo server` and `http://localhost:1313/workflows/` everything runs great though I get 404's for a number of the SVG's like carly.svg and others.

[2022-01-03 22:31] erzz commented on #69
I actually decided to switch out the SSG to another now, so the links above wont reflect the problem anymore.

But its easy enough to reproduce with a baseURL including a path like mine did.   You can close if you don't have time to fix

[2022-01-28 13:59] jaiakash opened #70 "[BUG] No "visible" shadow effect in dark mode at "Search the docs""
There is a shadow effect around the "search the docs" when the website is used in light mode. But when used in a dark mode, there is no "visible" shadow effect.

![Screenshot from 2022-01-28 18-56-08](https://user-images.githubusercontent.com/33419526/151555266-a5dc0ccd-11b6-4a66-8258-4dd73826b17d.png) ![Screenshot from 2022-01-28 18-56-15](https://user-images.githubusercontent.com/33419526/151555

[2022-01-28 16:36] onweru commented on #70
@jaiakash, that was something I deliberately left out. In dark mode, using shadows can easily look weird. I do agree though that we need some sort of feedback. If it has to be a shadow, then it has to be well thought out. I will explore

[2022-01-31 22:13] onweru opened #73 "How to get menu on other folders"
### Discussed in https://github.com/onweru/compose/discussions/72

<div type='discussions-op-text'>

<sup>Originally posted by **mkovnick** January 31, 2022</sup>
Hi, I am new to hugo, so forgive the question is it may be simple.  I noticed that I get the side menu for any file I put in the "Docs" folder, but not in other folders.   I am trying to also make a "Tutorials" folder that would **also**

[2022-01-31 22:22] #73 closed

[2022-01-31 22:35] #70 closed

[2022-02-01 00:30] onweru commented on #69
@erzz, sorry it didn't work for you. Fixed the icons issue, though. Thanks for raising the issue in the first place.

[2022-02-01 00:30] #69 closed

[2022-02-01 00:51] onweru commented on #53
fixed via #69

[2022-02-01 00:51] #53 closed

[2022-02-01 00:53] onweru commented on #45
In retrospect, users should decide what the button text and where it leads to should be.

[2022-02-01 00:53] #45 closed

[2022-03-07 10:34] mihalyr opened #74 "[BUG] Broken style when deployed to sub-folder"
The style is broken when the site is not deployed to the root path.

Reproducer:

[code]

After committing and starting `hugo server` everything works nicely on the code snippets page:

![image](https://user-images.githubusercontent.com/26523902/157014575-6aa43d0f-8109-4511-a056-9097a6a00662.png)

Now try the same with a different baseURL:

[code]

![image](https://user-images.githubusercontent.co

[2022-03-07 11:09] mihalyr commented on #74
I've generated the page now with the following:

[code]

And then started serving this with Python:

[code]

I can see from the server logs that the website is asking for icons at the wrong location - at the root, instead of at the baseURL.

[code]

[2022-03-07 11:37] mihalyr commented on #74
I think one of the problems is here where we load svgs from the rootURL: https://github.com/onweru/compose/blob/master/assets/js/functions.js#L177

[code]

[2022-03-07 11:40] mihalyr commented on #74
This seems to be the reason why search is not working either:

https://github.com/onweru/compose/blob/master/assets/js/search.js#L196

[code]
https://github.com/onweru/compose/blob/master/assets/js/search.js#L112

[code]

[2022-03-07 11:41] mihalyr commented on #74
And `rootURL` is defined as: https://github.com/onweru/compose/blob/master/assets/js/variables.js#L7

[code]

[2022-03-07 12:40] mihalyr commented on #74
I've tested an easy fix this works for me in `variables.js`

[code]

[2022-03-07 12:49] mihalyr commented on #74
I've created a pull request with my proposal https://github.com/onweru/compose/pull/75

[2022-03-07 12:51] mihalyr commented on #74
Just wanted to add that I have a very easy workaround, I can override the `variables.js` in my local site as well for now.

PS: I am new to Hugo, just trying it with the first time for documentation and needed a simple theme without dependencies that looks good, that's how I ended up using your theme. Thank you very much for creating this.

[2022-03-14 12:22] HarborZeng commented on #24
looking forword to this feature.

[2022-04-03 20:51] blakegearin opened #77 "[FEATURE] Custom SASS"
**I have checked all the prerequisites below and I don't see this is available**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the feature**

Looks like custom SASS is a [supported feature on Clarity](https://github.com/chipzoller/hugo-clarity/blob/master/assets/sass/_custom.sass). In the Compose docs

[2022-04-04 00:06] blakegearin commented on #77
Opened PR for this: #78

[2022-04-04 02:19] blakegearin commented on #77
Closing as this has been merged: https://github.com/onweru/compose/commit/c4ce90ce987a0f93fd2a4c70f1d42886cdb34534

[2022-04-04 02:19] #77 closed

[2022-04-11 20:33] altosys opened #81 "[BUG] 'Docs Menu' element size too large for mobile device"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [X] Read the README.md
- [X] Have the extended version of Hugo installed
- [X] Used the exampleSite's config.toml as a reference

**Describe the bug**

The `Docs Menu` element seems to be slightly too large for the container it resides in on a mobile device, so there are scroll bars visible both horizontally and v

[2022-04-11 20:42] tommyalatalo opened #82 "[FEATURE] Combine 'Docs Menu' and top navigation menu into one"
**I have checked all the prerequisites below and I don't see this is available**

- [X] Read the README.md
- [X] Have the extended version of Hugo installed
- [X] Used the exampleSite's config.toml as a reference

**Describe the feature**

I just set up a site with Compose, and immediately got a reaction from users asking "why are there two menus on top of eachother on the page on mobile? I didn't

[2022-04-13 01:20] blakegearin opened #83 "[BUG] Long page names shrink previous/next arrows"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

As the length of a page name increases, the next/previous arrow icons for that page shrink. They also change height, with the previous page arrow going downward an

[2022-04-13 02:02] blakegearin commented on #83
I think this solves the problem, but is not very elegant, specifically the `height` part is just

[code]

This also changes the position of the arrows from beside the text to the far sides.

Before:
  <img width="1112" alt="image" src="https://user-images.githubusercontent.com/17950836/163084697-a8d1e1f5-fbea-4dc5-ba07-0158147e619a.png">

After:
  <img width="1112" alt="image" src="https://user-im

[2022-04-13 05:16] blakegearin opened #84 "[BUG] Search page inconsistent on build"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**

On Hugo build...

**Version A**
The search page contains only the page title "Search" and includes the sidebar. Typing in the search bar doesn't change the page.

[2022-04-28 19:37] codthing opened #85 "Error building site[BUG]"
**I have checked all the prerequisites below and I'm yet experiencing a problem**

- [x] Read the README.md
- [x] Have the extended version of Hugo installed
- [x] Used the exampleSite's config.toml as a reference

**Describe the bug**
![image](https://user-images.githubusercontent.com/16655229/165832062-3777389f-1bb3-4cb6-a1ed-d2df8dced99c.png)

A clear and concise description of what the bug is.

[2022-04-28 22:35] onweru commented on #85
Thanks @codthing, I will look into it.

[2022-06-04 18:23] freakinhippie commented on #8
This issue seems to either still exist, or was reintroduced at some point.

[2022-06-13 15:40] #24 closed